:root {
    /* Primary */
    --moderateViolet: hsl(263, 55%, 52%);
    --veryDarkGrayishBlue: hsl(217, 19%, 35%);
    --veryDarkBlackishBlue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    /* Neutral */
    --lightGray: hsl(0, 0%, 81%);
    --lightGrayishBlue: hsl(210, 46%, 95%);
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    min-height: 100vh;
    background-color: var(--lightGrayishBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

*, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    margin: auto 1.5rem;
    padding-block: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 10px 10px 20px -10px var(--lightGray);
}

.div-top {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.div-top img {
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

h2 {
    font-size: .85rem;
    font-weight: 400;
    line-height: 1.1rem;
}

h3 {
    font-size: .7rem;
    font-weight: 300;
    opacity: .5;
}

.section-jeanette h3, .section-kira h3 {
    opacity: .7;
}

h1 {
    font-weight: 500;
    padding-right: 1.6rem;
}

p {
    opacity: .7;
    font-weight: 300;
    line-height: 1.2rem;
    padding-right: 1.2rem;
}

.section-jeanette p, .section-kira p {
    font-weight: 500;
}

.section-daniel {
    background-color: var(--moderateViolet);
    color: var(--white);
    position: relative;
}

.section-daniel img {
    border: 2px solid hsl(263, 55%, 70%);
}

.section-jonathan {
    background-color: var(--veryDarkGrayishBlue);
    color: var(--lightGrayishBlue);
}

.section-jonathan img {
    border: 2px solid hsl(0, 0%, 50%);
}

.section-jeanette, .section-kira {
    background-color: var(--white);
    color: var(--veryDarkBlackishBlue);
}

.section-jeanette img, .section-kira img {
    border: 2px solid hsl(0, 0%, 95%);
}

.section-patrick {
    background-color: var(--veryDarkBlackishBlue);
    color: var(--lightGrayishBlue);
}

.section-patrick img {
    border: 2px solid hsl(263, 55%, 50%);
}

.section-daniel::after {
    content: url("images/bg-pattern-quotation.svg");
    position: absolute;
    top: 0;
    right: 2rem;
    opacity: .5;
}

/* Footer */
footer { 
    color: var(--veryDarkGrayishBlue);
    font-size: 11px; 
    text-align: center; 
}
footer a { 
    text-decoration: none;
    color: var(--moderateViolet); 
}

/* Desktop */
@media screen and (min-width: 1000px) {
    main {
        margin: auto 7rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    section {
        padding: 1.5rem 2rem;
        box-shadow: 10px 10px 30px -10px var(--lightGray);
    }

    .section-daniel, .section-patrick {
        grid-column: span 2;
    }

    .section-kira {
        grid-row: 1 / span 2;
        grid-column: 4;
    }
    
    h1 {
        padding-right: 1.2rem;
    } 

    p {
        padding-right: 1.1rem;
    }
    
    .section-daniel::after {
        right: 6rem;
    }

    .section-kira p {
        padding-right: .5rem;
    }
}

@media screen and (min-width: 1400px) {
    main {
        margin: auto 10rem;
    }
}
